body {
  color: white;
  background-color: #03a9f4;
}

h3 {
  font-size: 50px;
}

nav {
  margin-bottom: 25px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

p {
  font-size: 20px;
}

.fa {
  margin-right: 10px;
  margin-left: 10px;
}

#header {
  margin: 20px;
  margin-bottom: 35px;
}

.cli-file {
  padding-right: 25px;
}

#main {
  width: 90%;
  margin: 0 auto;
}

#cards {
  display: none;
}

#photo {
  display: block;
  border-radius: 150px;
  height: 250px;
  margin: 0 auto;
}

#buttons {
  margin-top: 30px;
  text-align: center;
}

#command-line {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  height: 250px;
  font-size: 20px;
  color: #76ff03;
  background-color: rgba(0,0,0, .92); 
  box-shadow: 10px 10px 5px rgba(0,0,0, .52);
}
#tabs {
  margin-bottom: -8px;
}
.tabs .indicator {
    background-color: #76ff03;
} /*Color of underline*/

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}