body {
  color: white;
  background-color: black
}


h3 {
  font-size: 50px;
}

nav {
  margin-bottom: 25px;
  visibility: hidden;
}

a {
  text-decoration: inherit;
  color: inherit;
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 17px;
  }
}


.fa {
  margin-right: 10px;
  margin-left: 10px;
}

#header {
  margin: 20px;
  margin-bottom: 35px;
}

.cli-file {
  padding-right: 25px;
}

#main {
  width: 90%;
  margin: 0 auto;
}

#about-card {
  display: none;
}

#cards {
  display: none;
}

#photo {
  visibility: hidden;
  display: block;
  border-radius: 150px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#buttons {
  text-align: center;
}

#command-line {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  padding: 20px;
  height: 250px;
  font-size: 20px;
  color: #76ff03;
  background-color: rgba(34, 34, 34, 0.92); 
  box-shadow: 10px 10px 5px rgba(0,0,0, .32);
}
#tabs {
  margin-bottom: -8px;
}

.tabs .indicator {
    /*Color of underline for tabs*/
    background-color: #76ff03;
} 

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}